<!DOCTYPE html>

<html lang="es">
    
    <head>

        <meta charset="UTF-8"> 
        <meta name="viewpoint" content="width=device-width">
        <title>Hotel Mileniun plaza-Home</title>
        <link rel="stylesheet" href="/static/reset.css">
        <link rel="stylesheet" href="/static/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    
    </head>

    <body>

        <header>
            <div class="box">
                <h1><img src="/static/Imagenes/logohotel.png" class="img" alt="Logo holtel"></h1>
                <nav>
                    <ul class="Menu">
                        <li><a href="index.html">HOME</a></li>
                        <li><a href="reservas.html">RESERVAS</a></li>
                        <li><a href="iniciar_sesion.html">Iniciar sesion</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <footer>
                <ul class="menu-footer">
                    <li><a href="contacto.html">Contactenos</a></li>
                    <li><a href="iniciar_sesion.html">Iniciar sesion</a></li>
                </ul>

            <p class="copy">Copyright - 2022</p>
        </footer>
        
    </body>
</html>   