<!DOCTYPE html>

<html lang="es">
    
    <head>

        <meta charset="UTF-8"> 
        <meta name="viewpoint" content="width=device-width">
        <title>Hotel Mileniun plaza</title>
        <link rel="stylesheet" href="/static/reset.css">
        <link rel="stylesheet" href="/static/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    
    </head>

    <body>

        <header>
            <div class="box">
                <h1><img src="/static/Imagenes/logohotel.png" class="img" alt="Logo hotel milennium"></h1>
                <nav>
                    <ul class="Menu">
                        <li><a href="index.html">HOME</a></li>
                        <li><a href="reservas.html">RESERVAS</a></li>
                        <li><a href="Iniciar-sesion.html">Iniciar sesion</a></li>
                    </ul>
                </nav>
            </div>
        </header>  
        <main>
            <section class="formulario-registro">
                <h1>Formulario de registro</h1>
                <input  class="controladores" type="text" name="Nombre" id="nombres" placeholder="Ingrese su nombre">
                <input  class="controladores" type="text" name="Apellido" id="apellidos" placeholder="Ingrese su apellido">
                <input  class="controladores" type="email" name="Correo" id="Correo" placeholder="mileniunplaza@dominio.com">
                <input  class="controladores" type="password" name="Contraseña" id="Contraseña" placeholder="Digite su contraseña">
                <a href="index.html"><input class="boton" type="submit" value="Registrar"></a>
                <p><a href="iniciar_sesion.html">¿ya estas registrado?</a></p>
            </section>
        </main>
        <footer>
            <!-- <img src="Imagenes/fondo dbz.jpg" class="img" alt="Logo barberia koku"> -->
                <ul class="menu-footer">
                    <li><a href="contacto.html">CONTACTENOS</a></li>
                    <li><a href="iniciar_sesion.html">Iniciar sesion</a></li>
                </ul>

            <p class="copy">Copyright - 2022</p>
        </footer>
    </body>
</html>