<!DOCTYPE html>

<html lang="es">
    
    <head>

        <meta charset="UTF-8"> 
        <meta name="viewpoint" content="width=device-width">
        <title>Hotel Mileniun plaza</title>
        <link rel="stylesheet" href="/static/reset.css">
        <link rel="stylesheet" href="/static/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    
    </head>

    <body>

        <header>
            <div class="box">
                <h1><img src="/static/Imagenes/logohotel.png" class="img" alt="Logo Hotel milennium"></h1>
                <nav>
                    <ul class="Menu">
                        <li><a href="index.html">HOME</a></li>
                        <li><a href="productos.html">RESERVAS</a></li>
                        <li><a href="iniciar_sesion.html">Iniciar sesion</a></li>
                    </ul>
                </nav>
            </div>
        </header>  
        <main class="main">
            <ul class="servicios">
                <h3>habitaciones</h3>
                <p>Estas son algunas de nuestras habitaciones cada una con un diseño diferente para su eleccion y todas por el mismo valor.</p>
                <li>
                    <h2>HABITACION 1</h2>
                    <img src="/static/Imagenes/habitacion1.jfif" class="img">
                    <p class="Descripcion">Inicie sesion para poder reservar</p>
                    <p class="Precio">$00.000 COP</p>
                </li>
                <li>
                    <h2>HABITACION 2</h2>
                    <img src="/static/Imagenes/habitacion2.jfif" class="img">
                    <p class="Descripcion">Inicie sesion para poder reservar</p>
                    <p class="Precio">$00.000 COP</p>
                </li>
                <li>
                    <h2>HABITACION 3</h2>
                    <img src="/static/Imagenes/habitacion3.jfif" class="img">
                    <p class="Descripcion">Inicie sesion para poder reservar</p>
                    <p class="Precio">$00.00 COP</p>
                </li>
                <li>
                    <h2>HABITACION 4</h2>
                    <img src="/static/Imagenes/habitacion4.jfif" class="img">
                    <p class="Descripcion">Inicie sesion para poder reservar</p>
                    <p class="Precio">$00.00 COP</p>
                </li>
            </ul>
            <section class="eventos">

                <a href="Iniciar-sesion.html"><h2 class="titulo-otros-servicios">Reservaciones para eventos</h2></a>

                <a href="Iniciar-sesion.html"><img  class="imagen-evento" src="/static/Imagenes/eventos.jpg" alt="Habitacion hotel"></a>
    
                <p>
                    ¿Está planeando un cumpleaños, un evento festivo o una recaudación de fondos? El único límite es su imaginación y la nuestra. Ah, y su presupuesto, pero también podemos ser creativos allí.

                    con nuestro sistema de reservas de eventos podra agendar fecha y detalles y nosostros nos haremos cargo de que su evento sea el centro de atencion de todo el hotel con nuestro personal cualificado para brindar el mejor servicio y atencion posible su evento sera un agradable recuerdo para usted y sus invitados <a href="Iniciar-sesion.html"> RESERVA AQUI.</a>
                </p>
    
            </section>

            <section class="restaurante">

                <a href="Iniciar-sesion.html"><h2 class="titulo-otros-servicios">Restaurante</h2></a>

                <a href="Iniciar-sesion.html"><img  class="imagen-restaurante" src="/static/Imagenes/resturante hotel.jpg" alt="Habitacion hotel"></a>
    
                <p>
                    Nuestro disntiguido <Strong>Restaurante Milennium</Strong> calificado como uno de los mejores restaurantes de pais tiene diferentes comidas internacionales para el desguste de nuestros huespedes o de cualquier persona que desee probar comida de alta calidad. 
                    
                    contamos con chefs y personal de cocina especializados en brindar la mayor atencion y satisfaccion culinaria con diferentes entradas y postres para el deleite de nuestros clientes<a href="Iniciar-sesion.html"> RESERVA AQUI.</a>
                </p>
    
            </section>

        </main>
        <footer>
            <!-- <img src="Imagenes/fondo dbz.jpg" class="img" alt="Logo barberia koku"> -->
                <ul class="menu-footer">
                    <li><a href="contacto.html">CONTACTENOS</a></li>
                    <li><a href="iniciar_sesion.html">Iniciar sesion</a></li>
                </ul>

            <p class="copy">Copyright - 2022</p>
        </footer>
    </body>
</html>